.ask-question-advice {
  font-size: 12px;
  padding: 0px 0px 10px 0px;
}
.ask-question-advice h4 {
  color: #DE3E22;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 15px;
  margin: 0px;
  border-bottom: 1px solid #F1F5F6;
}
.ask-question-advice ul {
  list-style-image: url('/img/de3e22.jpg');
  padding-left: 16px;
}
.ask-question-advice li {
  color: #DE3E22;
  margin-bottom: 12px;
  font-size: 14px;
}
.ask-question-advice li span {
  color: #000;
}
.ask-question-advice div.content-wrapper {
  margin: 0px 15px;
  padding-top: 10px;
}
span.hashtags {
  padding: 3px 7px;
  margin-right: 8px;
  background-color: #9AD0F9;
  font-size: 12px;
  font-weight: 500;
  white-space: pre-wrap;
}
span.hashtags:hover {
  background-color: #337ab7;
  color: #fff;
}
div.suggested-tags {
  margin: 15px 0px;
}
div.suggested-tags div.suggested-tags-wrapper {
  line-height: 2;
}
div.suggested-tags span.suggested-tags-header {
  font-weight: 600;
}
div.suggested-tags span.suggested-tags-info {
  font-size: 13px;
}
div.suggested-tags span.hashtags {
  cursor: pointer;
  background-color: #fff;
  color: #000;
}
div.suggested-tags span.hashtags:hover {
  background-color: #337ab7;
  color: #fff;
}
div.discovered-tags-wrapper {
  min-height: 30px;
}
div.discovered-tags-wrapper span.headings {
  font-weight: 600;
  font-size: 14px;
}
div.discovered-tags-wrapper span.hashtags {
  margin-bottom: 5px;
  float: left;
  display: block;
}
.title-row {
  padding-bottom: 15px;
  padding-top: 10px;
}
div.typehead {
  background-color: #fff;
}
.modal-content {
  position: absolute;
}
.question-answers .answer-box,
.question-answers .question-box {
  padding-top: 5px;
}
.question-answers .answer-box.divider,
.question-answers .question-box.divider {
  border-bottom: 2px solid #f3f1f3;
}
.question-answers .answer-box .avatar-container,
.question-answers .question-box .avatar-container {
  text-align: center;
  padding: 10px;
}
.question-answers .answer-box .user-link,
.question-answers .question-box .user-link {
  text-decoration: none;
  font-size: 12px;
}
.question-answers .answer-box .vote,
.question-answers .question-box .vote {
  min-width: 40px;
  text-align: center;
  padding-bottom: 10px;
}
.question-answers .answer-box .vote .vote-up,
.question-answers .question-box .vote .vote-up,
.question-answers .answer-box .vote .vote-down,
.question-answers .question-box .vote .vote-down {
  font-size: 20px;
  text-decoration: none;
}
.question-answers .answer-box .vote .vote-fav,
.question-answers .question-box .vote .vote-fav {
  display: block;
  font-size: 20px;
  color: #8f8f8f;
  padding-bottom: 5px;
  padding-top: 10px;
}
.question-answers .answer-box .vote span,
.question-answers .question-box .vote span {
  display: block;
}
.question-answers .answer-box .time,
.question-answers .question-box .time {
  float: right;
  font-size: 10px;
  font-style: italic;
}
.question-answers .answer-box .question-title,
.question-answers .question-box .question-title {
  color: #000000;
}
.question-answers .answer-box .main-avatar,
.question-answers .question-box .main-avatar {
  width: 100px;
}
.question-answers .vote-count {
  font-size: 20px;
}
.question-answers .comment-box {
  float: right;
  margin-top: 10px;
}
.question-answers .comment-box .icon {
  color: #8f8f8f;
  font-size: 20px;
  padding: 5px;
}
.question-answers .comment-box .add-comment {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #8f8f8f;
  border-color: #8f8f8f;
}
.question-answers .comment-box .add-comment .icon {
  color: #fff;
  font-size: 15px;
  vertical-align: middle;
}
.question-answers .comment-box ul {
  list-style: none;
}
.question-answers .comment-box ul li {
  float: left;
  margin-right: 5px;
  margin-left: 5px;
}
.question-answers .comment-box .stats {
  text-align: center;
  display: block;
}
.question-answers .avatar-list {
  background-color: #e2e0e2;
  border: 1px solid #ccc;
  margin: 20px 5px 20px 5px;
  height: 60px;
}
.question-answers .avatar-list .answers-count {
  color: #4cae4c;
  vertical-align: middle;
  font-size: 20px;
}
.question-answers .avatar-list .text {
  color: #4cae4c;
  vertical-align: middle;
  font-size: 15px;
  margin-right: 10px;
}
.question-answers .avatar-list img {
  display: inline;
  margin-right: 10px;
  margin-top: 10px;
}
.question-answers img {
  width: 40px;
}
.question-answers .ng-enter,
.question-answers .ng-move {
  transition: all 1s linear;
  opacity: 0;
}
.question-answers .ng-enter.ng-enter-active,
.question-answers .ng-move.ng-move-active {
  opacity: 1;
  transition: all 1s linear;
}
.question-answers .ng-leave {
  animation: 1s leave_animation;
}
@keyframes leave_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.question-answers .post-answer {
  margin-top: 10px;
}
.question-answers .post-answer-container {
  padding-top: 20px;
  padding-bottom: 20px;
}
.notifications.note-container {
  position: fixed;
  z-index: 101;
  top: 0;
  right: 0;
}
.notifications .note {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 300px;
  min-height: 50px;
  margin-right: 10px;
  color: white;
  background-color: #FF9966;
  border-color: #d6e9c6;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow: 0 0 5px black;
  box-shadow: 0 0 5px black;
}
