.ng-cloak {
	display: none;
}

.question-row{
	list-style: none;
}
.question-row3{
	list-style: none;
	margin-bottom:15px;
	width:33%;
	float:left;
	padding-right:20px;
}
.question-row-third{

}
.question-list{
	padding-left: 0px;
}

.no-padding{
	padding: 0px;
}

.numbers{
	font-size: 18px;
}

.unanswered{
	background: transparent;
	color: #9a4444;
}

.answered{
	background: #75845c;
	color: #fff;
	font-weight: normal;
}

.answeredAccepted{
	background: #75845c;
	color: #e1e818;
}


.views{
	color: #999;
}

.question-title{
	margin: 0px;
	font-weight: bold;
	color: #0088cc;
	text-decoration: none;
	cursor: pointer;
	font-size: 15px;
	font-weight:700;
}

.question-description{
	color: #222;
	text-decoration: none;
	font-size: 13px;
}

.summarycount{
	color: #808185;
	font-size: 350%;
	font-weight: bold;
	margin-top: 10px;
}



#tabs a {
	background: inherit;
	border: 1px solid transparent;
	color: #777;
	display: block;
	float: left;
	font-size: 80%;
	height: 24px;
	line-height: 20px;
	margin: 9px 8px 0 0;
	padding: 0 11px 0 11px;
	text-decoration: none;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
	font-weight: 600;
}

#tabs a.youarehere {
	background: #f3f1f3;
	border: 1px solid #ccc;
	border-bottom-color: #f3f1f3;
	color: #000;
	font-size: 90%;
	height: 30px;
	line-height: 28px;
	margin-top: 3px;
	padding: 0 11px 0 11px;
}

.subheader {
	border-bottom: 1px solid #ccc;
	height: 33px;
	clear: both;
	margin-bottom: 15px;
}

body{
	padding-top: 30px;
	background: #fff;
	color: #000;
	font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
	background-color: #f3f1f3;
}

.navbar{
	min-height: 30px;
	max-height: 30px;
}

.navbar-brand{
	line-height: 0px;
}

.navbar-nav>li>a {
	line-height: 0px;
}

.dropdown.pull-right .dropdown-toggle{
	height: 30px!important;
	line-height: 30px!important;
	padding: 0px!important;
	color: white;
	cursor: pointer;
}


#amazingLogo a {
	width: 190px;
	height: 35px;
	display: block;
	background-image: url('../img/AmazingLogo.png');
	background-size: 190px 35px;
	background-repeat: no-repeat;
	text-indent: -999999em;
	float: left;
	margin-top: -8px !important;
}

.nav.s-menu li.youarehere {
	background: #f90;
}


.nav.s-menu a {
	color: #fff;
	display: block;
	padding: 6px 12px 6px 12px!important;
	text-decoration: none;
	font-size: 16px;
}

.nav.s-menu li {
	background: #777;
	display: block;
	float: left;
	margin-right: 7px;
}

.nav.s-menu li:hover{
	background: #f90!important;
}

.nav.s-menu>li>a:hover, .nav.s-menu>li>a:focus {
	text-decoration: none;
	background-color: #f90!important;
}
span.glyphicon {
	font-size: 25px;
}
span.glyphicon-small{
	font-size: 15px;
}
a.question-tag{
	text-decoration: none;
	background-color: #e2eef6;
	padding:2px 6px;
	color:#777;
	font-size:13px;
}
a.user-link{
	display: block;
	text-decoration: underline;
}

span.phone-icon{
	background-image: url('../img/help.png');
	background-size: 26px 26px;
}
span.bell-icon{
	background-image: url('../img/notifications.png');
	background-size: 26px 26px;
}
span.person-icon{
	background-image: url('../img/person.png');
	background-size: 26px 26px;
}
span.header-icon{
	padding-right: 4px; float:left; height:24px; width:24px; display:block;
}
a.header-icon-link{
	float:left; height:24px; display:block; padding-top:5px; padding-left:5px;
	color: #0088cc;
}
a.questions-head-button-active{
	background-color:#DE3E22;
}

li a.questions-head-button-special{
	background-color:#777;
}

li.questions-head-button-inactive, a.questions-head-button-inactive{
	background-color:#DDE4E7;
	color: black!important;
}

ul.nav-pills li{
	background: transparent!important;
}

a.header-close-slogan{
	background-image: url('../img/clear.png');
	background-size: 15px 15px;
	background-repeat: no-repeat;
	float:right;
	width: 15px;
	height: 15px;
	margin-top: -10px;
	margin-right: 10px;
}

div.question-user-area{
	top:10px;
	background-color: transparent;
	display: table-cell;
	vertical-align: top;
	float:none;
	text-align: center; padding: 0px 15px;
}

.question-list div.col-md-4{
	margin-bottom:14px;
}

div.wrapper-postit-design{
	box-shadow: #DDD 0 0 20px;
}

div.tooltip-motto{
	font-size:17px;
}

div.ask-question-advice{
	margin-top:45px;
	background-color: #fff;
	box-shadow: #fff 0 0 30px;
	border-radius: 1px;
}

#editor {
	width: 200px;
	height: 30px;
	border: 1px solid red;
	overflow: hidden;
}

div.div-textarea{
	background-color: #fff;
	padding-top:3px;
	padding-left:6px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid #C3C3C3;
}

.jqueryHashtags .highlighter{
	white-space: pre-wrap;
	color:transparent;
	overflow: hidden;
	position: absolute;
	padding-left:7px;
	padding-top:5px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:14px;
	line-height:20px;
}

.jqueryHashtags .theSelector{
	background-color: transparent;
	position: relative;
	direction: ltr;
	font-size:14px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	resize:none !important;
	-webkit-transition: height 0.2s;
	border: 1px solid #cccccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 4px 6px;
	vertical-align:middle;
	min-height:48px !important;
	line-height:20px;
}

.jqueryHashtags span.hashtag{
	background-color:#9AD0F9;
	border-radius: 2px;
	font-size:14px;
	white-space: pre-wrap;
	word-break: break-word;
	line-height:20px;
}