.ask-question-advice {

  font-size:12px;
  padding: 0px 0px 10px 0px;

  h4 {
    color: #DE3E22;
    font-weight: 600;
    font-size: 16px;
    padding:10px 15px;
    margin:0px;
    border-bottom: 1px solid #F1F5F6;
  }
  ul {
    list-style-image: url('/img/de3e22.jpg');
    padding-left:16px;
  }
  li {
    color: #DE3E22;
    margin-bottom:12px;
    font-size:14px;
  }
  li span{
    color: #000;
  }
  div.content-wrapper{
    margin:0px 15px;
    padding-top:10px;
  }
}

span.hashtags{
  padding:3px 7px;
  margin-right:8px;
  background-color:#9AD0F9;
  font-size:12px;
  font-weight:500;
  white-space: pre-wrap;
}

span.hashtags:hover {
  background-color: #337ab7;
  color:#fff;
}

div.suggested-tags{
  margin:15px 0px;

  div.suggested-tags-wrapper{
    line-height: 2;
  }
  span.suggested-tags-header{
    font-weight:600;
  }
  span.suggested-tags-info{
    font-size:13px;
  }
  span.hashtags{
    cursor: pointer;
    background-color: #fff;
    color:#000;
  }
  span.hashtags:hover {
    background-color: #337ab7;
    color:#fff;
  }
}

div.discovered-tags-wrapper{
  min-height: 30px;
  span.headings {
    font-weight: 600; font-size: 14px;
  }
  span.hashtags{
    margin-bottom:5px;
    float: left;
    display: block;
  }
}

.title-row{
  padding-bottom: 15px;
  padding-top: 10px;
}

div.typehead{
  background-color: #fff;
}

.modal-content{
  position: absolute;
}