.question-answers{
  .answer-box, .question-box{
    &.divider{
      border-bottom: 2px solid @nice-gray;
    }
    padding-top: @sp5;
    .avatar-container{
      text-align: center;
      padding: @sp10;
    }
    .user-link{
      text-decoration: none;
      font-size: 12px;
    }
    .vote{
      min-width: 40px;
      text-align: center;
      padding-bottom: @sp10;
      .vote-up, .vote-down{
        font-size: @sp20;
        text-decoration: none;
      }
      .vote-fav{
        display: block;
        font-size: @sp20;
        color: @dark-grey;
        padding-bottom: @sp5;
        padding-top: @sp10;
      }
      span{
        display: block;
      }
    }
    .time{
      float: right;
      font-size: @sp10;
      font-style: italic;
    }
    .question-title{
      color: #000000;
    }
    .main-avatar {
      width: 100px;
    }
  }
  .vote-count{
    font-size: @sp20;
  }
  .comment-box{
    float: right;
    margin-top: @sp10;
    .icon{
      color: @dark-grey;
      font-size: @sp20;
      padding: @sp5;
    }
    .add-comment{
      margin-left: @sp10;
      margin-right: @sp10;
      background-color: @dark-grey;
      border-color: @dark-grey;
      .icon{
        color: #fff;
        font-size: @sp15;
        vertical-align: middle;
      }
    }
    ul{
      list-style: none;
      li{
        float: left;
        margin-right: @sp5;
        margin-left: @sp5;
      }
    }
    .stats{
      text-align: center;
      display: block;
    }
  }
  .avatar-list{
    background-color: @medium-grey;
    border: 1px solid @light-grey;
    margin: @sp20 @sp5 @sp20 @sp5;
    height: 60px;
    .answers-count{
      color: #4cae4c;
      vertical-align: middle;
      font-size: @sp20;
    }
    .text{
      color: #4cae4c;
      vertical-align: middle;
      font-size: @sp15;
      margin-right: @sp10;
    }
    img{
      display: inline;
      margin-right: @sp10;
      margin-top: @sp10;
    }
  }
  img{
    width: 40px;
  }
  .ng-enter, .ng-move {
    transition: all 1s linear;
    opacity: 0;
  }
  .ng-enter.ng-enter-active,
  .ng-move.ng-move-active {
    opacity: 1;
    transition: all 1s linear;
  }
  .ng-leave {
    animation: 1s leave_animation;
  }

  @keyframes leave_animation {
    from { opacity:1; }
    to { opacity:0; }
  }
  .post-answer{
    margin-top: @sp10;
  }
  .post-answer-container{
    padding-top: @sp20;
    padding-bottom: @sp20;
  }
}