.notifications{
  &.note-container{
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0;
  }

  .note{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: @sp10;
    width: 300px;
    min-height: 50px;
    margin-right: @sp10;
    color: white;
    background-color: #FF9966;
    border-color: #d6e9c6;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
  }

}
