<div style="padding-bottom: 30px;">
    <div class="container" style="margin-top:20px;">
        <div class="row" style="margin-top:0px; margin-bottom:6px; margin-right:-52px;">
            <div class="col-xs-12 nav mainnavs">
                <ul class="nav nav-pills s-menu pull-right">
                    <li ng-repeat="item in menuItems">
                        <a ng-if="::item.active && !item.special"
                           class="questions-head-button-active"
                           ui-sref="{{::item.link}}">
                            {{::item.text}}
                        </a>
                        <a ng-if="!item.active && !item.special"
                           class="questions-head-button-inactive"
                           ui-sref="{{::item.link}}">
                            {{::item.text}}
                        </a>
                        <a ng-if="item.special"
                           class="questions-head-button-special"
                           ui-sref="{{::item.link}}">
                            {{::item.text}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>