<actionmenu items="actionMenuList"></actionmenu>
<div class="container question-answers">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="question-box row">
                <div class="col-md-2 avatar-container">
                    <img class="main-avatar"  src="img/{{question._id}}.png" >
                    <a class="user-link" style="text-decoration: none; font-size: 12px;" href="#">@{{question.authorNickName}}</a>
                </div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-10">
                            <p class="question-title" hashtagify>{{question.title}}</p>
                            <p class="question-description" hashtagify>{{question.text}}</p>
                        </div>
                        <div class="col-md-2">
                            <span class="time">10 min ago</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <span class="hashtags">#ASM6</span>
                            <span class="hashtags">#suppliers</span>
                            <span class="hashtags">#productsearch</span>
                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row avatar-list">
                <div class="col-md-8">
                    <span class="answers-count">{{question.answersList.length}}</span>
                    <span class="text">Answers</span>
                    <img ng-repeat="answer in question.answersList"  src="img/{{answer._id}}.png" >
                </div>
                <div class="comment-box">
                    <ul>
                        <li>
                            <button type="button" class="btn btn-primary btn-sm add-comment" ng-if="!expandAnswerBox" ng-click="showAnswerBox()">
                                <i class="icon glyphicon glyphicon-comment"></i>Post my Answer
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12 post-answer-container" ng-show="expandAnswerBox">
                    <div class="col-md-8 col-md-offset-2">
                        <h4><strong>Your Answer</strong></h4>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <textarea rows="6" cols="100" smart-text-area words="suggestedWords" ng-model="answerMsg"></textarea>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <button ng-click="postAnswer()" type="button" class="btn btn-primary btn-sm post-answer">Post my Answer</button>
                    </div>
                </div>
            </div>
            <div class="row subheader">
                <div class="col-md-9">
                    <h4><strong>{{question.answersList.length}} Answers to this Question</strong></h4>
                </div>
                <div class="col-md-3 pull-right" id="tabs" >
                    <a class="youarehere">Voted</a>
                    <a>Active</a>
                    <a>Oldest</a>
                </div>
            </div>
            <div ng-repeat="answer in question.answersList | orderBy:'-vote'">
                <div class="answer-box divider row">
                    <div class="col-md-1 vote">
                        <a class="vote-up glyphicon glyphicon-triangle-top" ng-click="!hasVoteUp && voteUp(answer)"></a>
                        <span class="vote-count">{{answer.vote}}</span>
                        <span>votes</span>
                        <a class="vote-down glyphicon glyphicon-triangle-bottom"
                           ng-if = "answer.vote > 0"
                           ng-click="!hasVoteDown && voteDown(answer)"></a>
                    </div>
                    <div class="col-md-1 avatar-container">
                        <img  src="img/{{answer._id}}.png" >
                        <a class="user-link" href="#">@{{answer.authorNickName}}</a>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-10">
                                <span hashtagify class="question-description">{{answer.msg}}</span>
                            </div>
                            <div class="col-md-2">
                                <span class="time">{{answer.time}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>