<div class="row" style="box-shadow: #DDD 0 0 20px; padding-top:30px;">
    <div class="container">
        <div class="row row-eq-height" style="margin:0px -45px 10px -45px;">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-xs-6" >
                    <div id="amazingLogo">
                        <a href="/" style="margin-top:-34px;"></a>
                    </div>
                    <h3 style="display: inline;color:#000;font-size: 30px;"
                        class="text-muted"></h3>
                </div>
                <div class="col-xs-6 pull-right" >
                    <div class="pull-right">
                        <span style="padding-right: 4px" class="header-icon person-icon btn-lg"></span>
                        <a class="header-icon-link" class="" href="#">Profile</a>
                        <br style="clear: both;">
                    </div>
                    <div style="margin-right:15px;" class="pull-right">
                        <span style="padding-right: 4px" class="header-icon bell-icon btn-lg"></span>
                        <a class="header-icon-link" href="#">Notifications</a>
                        <br style="clear: both;">
                    </div>
                    <div style="margin-right:15px;" class="pull-right">
                        <span class="header-icon phone-icon btn-lg"></span>
                        <a class="header-icon-link" style="" href="#">Help</a>
                        <br style="clear: both;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>