<div class="row">
    <div class="row">
        <div class="col-sm-12"
             style="background-color: #fff; padding:20px 0px; margin-top:30px; margin-bottom:20px; color:#777;">
            <a class="header-close-slogan" href="#"></a>
            <div class="row text-center" style="margin-bottom:10px; ">
                <div class="col-md-12 tooltip-motto" style="margin-bottom:5px; color:#222;">
                    How the Amazing.com Community Works
                </div>
            </div>
            <div class="row" style="padding:0px 10px 10px 30px; margin: 0px; color: #646464;">
                <div class="col-xs-4" style="">
                    <div class="col-md-12" style="background-color:#fff;">
                        <div class="row">
                            <div class="col-xs-3">
                                <img width="35" src="img/search.png">
                            </div>
                            <div class="col-xs-9" style="margin-top: 0px; padding-left:0px; width:150px;">
                                Search for an answer or
                                Ask a question
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4" style="">
                    <div class="col-md-12" style="background-color:#fff;">
                        <div class="row">
                            <div class="col-xs-3">
                                <img width="35" src="img/answer.png">
                            </div>
                            <div class="col-xs-9" style="margin-top: 0px; padding-left:0px; width:150px;">Answer
                                questions to help other members
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4" style="">
                    <div class="col-md-12" style="background-color:#fff;">
                        <div class="row">
                            <div class="col-xs-3">
                                <img width="35" src="img/star.png">
                            </div>
                            <div class="col-xs-9" style="margin-top: 0px; padding-left:0px; width:150px;">Get recognised
                                for your expertise
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-left:-30px; margin-top: 15px; color: #337ab7;">
        <div class="col-xs-12">
            <h4><span style="font-size:27px; font-weight: 500px;">Find Answers to Practical Business Questions</span></h4>
        </div>
    </div>
    <div class="row" style="margin-left:-30px; margin-bottom:15px; margin-top:10px;">
        <div class="col-xs-9">
            <div class="input-group">
                <input style="height:40px" type="text" class="form-control"
                       placeholder="Type a Question or keyword to get answers">
                  <span class="input-group-btn">
                      <a href="#/search-results" style="color:#fff; background-color:#337ab7; height:40px; padding-top: 10px"
                         class="btn btn-default" type="button">Search</a>
                  </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <div class="col-xs-1 text-center" style="padding-top: 4px; color:#777; font-size:20px;">
            or
        </div>
        <div class="col-xs-2" style="padding-right:0px; text-align:right;">
            <button style="font-size:16px; color:#fff; background-color:#777; border-radius:4px; height:40px;"
                    class="btn btn-default" type="button">Ask a Question
            </button>
        </div>
    </div><!-- /.row -->
</div>