<actionmenu items="home.actionMenuList"></actionmenu>
<div class="container">
    <div class="row">
        <div class="row" style="margin-left:-30px; margin-top: 15px; color: #337ab7;">
            <div class="col-xs-12">
                <h4><span style="font-size:25px; font-weight: 500px;">Find Answers to Practical Business Questions</span></h4>
            </div>
        </div>
        <div class="row" style="margin-left:-30px; margin-bottom:15px;">
            <div class="col-xs-9">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Type a Question or keyword to get answers">
                  <span class="input-group-btn">
                      <a href="#/search-results" style="color:#fff; background-color:#337ab7;" class="btn btn-default" type="button">Search</a>
                  </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            <div class="col-xs-1 text-center" style="padding-top: 4px; color:#777; font-size:20px;">
                or
            </div>
            <div class="col-xs-2" style="padding-right:0px; text-align:right;">
                <button style="font-size:16px; color:#fff; background-color:#777; border-radius:4px;" class="btn btn-default" type="button">Ask a Question</button>
            </div>
        </div><!-- /.row -->
        <div class="row">
            <div class="row subheader" style="margin-top: 15px;">
                <div class="col-xs-7">
                    <h4><strong style="color:#222;">50 Results for 'Product Research'</strong></h4>
                </div>
                <div class="col-xs-5 pull-right" id="tabs" style="padding-left:5px; padding-right:0px;">
                    <a ng-class="{youarehere : home.sort==='-dt_create'}"
                       ng-click="">Relevance</a>
                    <a ng-class="{youarehere : home.sort==='-dt_trending'}"
                       ng-click="">Latest</a>
                    <a ng-class="{youarehere : home.sort === '-actions.votes.total'}"
                       ng-click="">Most Voted</a>
                    <a ng-class="{youarehere : home.sort === '-dt_update'}"
                       ng-click="">Most Viewed</a>
                </div>
            </div>

            <div class="question-list" infinite-scroll="home.loadNext(home.page)" infinite-scroll-disabled="home.busy"
                 infinite-scroll-distance="1">
                <div style="margin-bottom:15px;" ng-repeat="q in home.questions">
                    <div ng-class="{'col-md-4' : (($index + 1) % 3) != 0, 'col-md-4 question-row-third': (($index + 1) % 3) == 0}">
                        <div class="wrapper-postit-design">
                            <div class="row" style="width:100%; display: table; margin:0px; background-color: #fff; padding-bottom:8px;">
                                <div class="col-xs-2 question-user-area"
                                     style="border:0px;">
                                    <img style="padding-bottom: 2px; width:40px;" src="img/{{q._id}}.png" >
                                    <a class="user-link" style="text-decoration: none; font-size: 12px;" href="#">@{{q.authorNickName}}</a>
                                </div>
                                <div class="col-xs-10"
                                     style="background-color:transparent; display: table-cell; vertical-align: top; float:none;
                          padding-left: 0px; padding-top: 10px;">
                                    <span style="float:right; font-size: 11px; font-style: italic;">22 mins ago</span>
                                    <span class="question-description">{{q.title}}</span>

                                    <div style="padding-top: 5px;">
                                        <a class="question-tag" href="#prods">products</a>
                                        <a class="question-tag" href="#prods">keywords</a>
                                        <a class="question-tag" href="#prods">lessons</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="width:100%; display: table; margin:0px; background-color: #f5f5f5; padding-bottom:8px;">
                                <div class="col-xs-4 text-center" style="padding:0px; display: table-cell; vertical-align: top;
                    float:none; background-color: transparent;">
                                    <div style="background-color: transparent; padding:0px 15px; margin-bottom: 5px;">
                                        <div class="text-left" style="color:#16A000;">
                                            <div style="font-size:13px;">Answers</div>
                                            <div>
                                                <div style="float:left; width:40%; text-align: left; font-weight: 600;">
                                                    {{q.answers}}
                                                </div>
                                                <div style="float:right; width:60%; text-align: left;">
                                                    <span class="glyphicon glyphicon-ok glyphicon-small"></span>
                                                </div>
                                            </div>
                                            <br style="clear:both;"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4"></div>
                                <div class="col-xs-4 text-center" style="padding:0; padding-top: 5px; display: table-cell; vertical-align: top;
                    float:none; background-color: transparent;">
                                    <div style="width:100%;">
                                        <div style="float:right; width:33%; text-align: center; line-height:1; font-size: 11px; font-weight:600; color:grey;">
                                            <img style="padding-bottom: 2px; width:18px;" src="img/bookmark.png" ><br/>
                                        </div>
                                        <div style="float:right; width:33%; text-align: center; line-height:1; font-size: 11px; font-weight:600; color:grey;">
                                            <img style="padding-bottom: 2px; width:18px;" src="img/vote.png" ><br/>
                                            {{q.votes.total || 7}}
                                        </div>
                                        <div style="float:right; width:33%; text-align: center; line-height:1; font-size: 11px; font-weight:600; color:grey;">
                                            <img style="padding-bottom: 2px; width:18px;" src="img/view.png" ><br/>
                                            {{q.views}}
                                        </div>
                                    </div>
                                    <br style="clear:both;"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>