<actionmenu items="askModel.actionMenuList"></actionmenu>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form name="myForm">
                <div class="row" style=" margin-top: 15px; color: #337ab7;">
                    <div class="col-md-12">
                        <h4><span style="font-size:25px; font-weight: 500px;">Ask a Question</span></h4>
                    </div>
                </div>
                <div class="row title-row">
                    <div class="col-md-12">
                <textarea required id="tags"
                          style="background-color: transparent; width: 100%; min-height: 32px!important; height:30px!important;"
                          class='mention-question-title question-autocomplete'
                          placeholder="What is your question? Please be specific."></textarea>

                <div class="suggested-tags">
                    <span class="suggested-tags-header">Suggested Tags</span>
                    <span class="suggested-tags-info">Select tags from the list below</span><br/>
                    <div class="suggested-tags-wrapper">
                        <span class="hashtags">#Amazon</span><span class="hashtags">#BeginnerGuideImportChina</span>
                        <span class="hashtags">#ProductResearch</span><span class="hashtags">#BuyLow</span>
                        <span class="hashtags">#ImportFromChina</span><span class="hashtags">#SocialSecrets</span>
                        <span class="hashtags">#SearchTerms</span>
                    </div>
                </div>
                <textarea required style="background-color: transparent; width: 100%; min-height: 170px!important;"
                          class='mention-question-detail question-autocomplete'
                          placeholder="Add more details here… make sure to add #tags to your question"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 discovered-tags-wrapper">
                        <div id="question-tags"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="margin-top:10px;margin-bottom:10px;">
                        <button class="btn btn-primary pull-right" ng-disabled="myForm.$invalid">Post my Question
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-4">
            <div class="ask-question-advice">
                <h4>Get Answers to your Question</h4>
                <div class="content-wrapper">
                    <ul>
                        <li><span>Ask a question that <b>can be answered</b>, not just discussed.</span></li>
                        <li><span>Add <b>#tags</b> to the title or details. You can add up to
                    5 tags. Tags are used so that others can search and find answers.</span></li>
                        <li><span>Use <b>@mentions</b> to notify members who might be able to answer or be interested.</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        //enable hashtags coloring
        $("textarea").hashtags();
        $('.hashtags').bind('click', addTagByClick);

        function parseQuestion(selectorVal) {
            //hack so that we do not display partial autocompleted tags
            $(selectorVal).trigger("keyup");

            displayTags();
        }

        function addTagByClick() {

            //add tag if does not already exist
            if ($('.mention-question-detail').val().toLowerCase().indexOf($(this).html().toLowerCase()) < 0) {
                $('.mention-question-detail').val($('.mention-question-detail').val() + ' ' + $(this).html() + ' ');
                displayTags();
                $('.mention-question-detail').trigger("keyup");
            }
        }

        //hack so that the autocompleted tag gets coloured
        $('.mention-question-title').keydown(function () {
            parseQuestion('.mention-question-title')
        });
        $('.mention-question-title').change(function () {
            parseQuestion('.mention-question-title')
        });

        $('.mention-question-detail').keydown(function () {
            parseQuestion('.mention-question-detail')
        });
        $('.mention-question-detail').change(function () {
            parseQuestion('.mention-question-detail')
        });

        function displayTags() {
            //get array of #tags from the title and detail textareas
            content_title_arr = $('.mention-question-title').val().match(/[#|@](([a-zA-Z0-9\-]+)|([\u0600-\u06FF]+))/g)
            content_detail_arr = $('.mention-question-detail').val().match(/[#|@](([a-zA-Z0-9\-]+)|([\u0600-\u06FF]+))/g)

            if (content_detail_arr == null)
                content_detail_arr = []

            if (content_title_arr == null)
                content_title_arr = []

            //extract only unique ocurences from the 2 above arrays
            res = $.merge(content_title_arr, content_detail_arr);
            res = $.unique(res);
            if (res != null) {
                var tagsHtml = '';
                for (var i = 0; i < res.length; i++) {
                    tagsHtml += "<span class='hashtags'>" + res[i] + "</span>";
                }

                $('#question-tags').html(tagsHtml);
            }
        }
    </script>


    <script type="text/javascript">
        $(document).ready(function () {

            $('.question-autocomplete').textcomplete([
                {
                    id: 'tech-companies',
                    words: ["#ASM3", "#ASM4", "#ASM5", "#ASM6", "#ActiveLoop", "#AdvancedProductMarketing", "#Alibaba", "#AmazingProfitMedia", "#AmazingSellingMachine", "#Amazon", "#AmazonConversionMaximizer", "#AmazonFBA", "#AmazonSecrets", "#AmazonSprosoredAds", "#AmazonTrafficBlitz", "#AppStartup", "#Arbitrage", "#Barcodes", "#BestPrice", "#BestSellersRank", "#BrandGenesis", "#BrandRegistration", "#Branding", "#BuildStrongBrand", "#BusinessIdeas", "#BusinessIntellegence", "#BusinessModel", "#BusinessNetworking", "#BuyLow", "#CashFlow", "#Competition", "#CompetitivePrice", "#CopyCommand", "#CopywritingSecrets", "#Cost", "#CurrencyConversion", "#DataScience", "#ECommerce", "#EcommerceBlueprint", "#EmailMarketing", "#FNKSU", "#FacebookMarketing", "#FreeSamples", "#FulfillmentByAmazon", "#GoogleAnalytics", "#HighestPrice", "#ImportFees", "#ImportFromChina", "#Insurance", "#InternationalShipping", "#KeywordRanking", "#Keywords", "#KeywordsForAmazon", "#LogoDesign", "#LowestPrice", "#Manufacturer", "#Marketing", "#MarketingTools", "#Networking", "#OnlineArbitrage", "#OnlineJumpstart", "#OutsourcingJobs", "#Packaging", "#ParentChildListing", "#Patent", "#Paypal", "#Price", "#ProductDescription", "#ProductLabels", "#ProductLiability", "#ProductMarketing", "#ProductPhotos", "#ProductResearch", "#ProductReviews", "#ProductSample", "#ProductSelection", "#ProductSourcing", "#ProductTitle", "#ProductToProfit", "#ProductWebsite", "#Profits", "#PromotwYourBusiness", "#QuantumEntrepreneurship", "#Refferal", "#Refunds", "#Research", "#RetailArbitrage", "#RetailArbitrageAcademy", "#Returns", "#Reviews", "#SEO", "#Sales", "#SearchMarketingScience", "#SearchTerms", "#SellerCentral", "#SellingHigh", "#SellingOnline", "#Shipping", "#ShippingCost", "#ShippingWeight", "#Shopify", "#SimilarProduct", "#SocialMarketing", "#SocialMarketingProfitSystem", "#SorcingFromChina", "#SponsoredProduct", "#StorefrontName", "#Supplier", "#Tax", "#TheSuccessGame", "#TrackingNumber", "#TwitterAds", "#UPC", "#VAT", "#VendorExpress", "#WorkFromHome",
                        "@AdrieneHolzworth", "@AminaShook", "@AntoninaHermsen", "@AracelyCrawley", "@BennieEllisor", "@BernaIslas", "@BernadetteDougherty", "@BettieMontero", "@BevMorales", "@BlytheVaden", "@BobbiCun", "@BradleyColgan", "@BurtonLipham", "@CarieGrimes", "@CarlotaAng", "@CarylonBolling", "@CatherinaHarn", "@CeceliaAllsop", "@CecilaDube", "@CeciliaLatson", "@CelsaNova", "@ChantayIwamoto", "@CharlynLight", "@ChasidyVarnadoe", "@ChungTroia", "@ClarisaRedner", "@ClarkEoff", "@ColeenCelestin", "@ConchaKitamura", "@CorineSapp", "@CorineScola", "@CorneliaBesse", "@DanaeShoffner", "@DanicaSeppala", "@DeannBrasher", "@DeliaLarkin", "@DeneenBarnhouse", "@DenisFripp", "@DenisTowler", "@DetraFurby", "@DionHaworth", "@DirkSwofford", "@DominicaHelmer", "@DonaldDensmore", "@EfrainRine", "@ElisabethQuerry", "@EliseOng", "@EllynLandress", "@EmmalineSoloman", "@EmogeneRevels", "@ErlenePauline", "@EstrellaHackett", "@EwaMarcial", "@FloreneMedford", "@FloydKilian", "@FranKalb", "@FumikoWestbrook", "@GenesisKohlmeier", "@GidgetSottile", "@GuadalupeLittleton", "@GwynMccrea", "@HaeLockett", "@HanhVoth", "@HipolitoGallien", "@HoraceDon", "@HoracioDomenick", "@JacalynStelling", "@JackieStrine", "@JanellIngerson", "@JaymeArviso", "@JeanaAguas", "@JeniDemyan", "@JoselynHix", "@JoyceGildersleeve", "@JulesRuppe", "@JohnSmith", "@KarolJines", "@KatelinSolberg", "@KeikoDevitt", "@KellyeHowe", "@KimberleeCusick", "@KyongHoupt", "@LacyAckerson", "@LadawnStocking", "@LakeshaFitzpatrick", "@LakiaMunoz", "@LashandraInge", "@LenitaWand", "@LibbyDonelson", "@LinetteGuin", "@LizbethCambre", "@LourdesMunford", "@LovettaNorcross", "@LuellaRunner", "@ManyToepfer", "@MarceleneHarder", "@MarnaDepaul", "@MarqueriteLaver", "@MaryannaMore", "@MerrillNerney", "@MichaelBelville", "@MirianSchrage", "@MitsukoWoolard", "@NanaFuqua", "@NatalyaBurgamy", "@NatoshaSigler", "@NatoshaWitkowski", "@NicolaThurmond", "@OliveLarosa", "@OmarTumlin", "@OrenYadon", "@PenniCerniglia", "@PorfirioHeather", "@PrestonCutting", "@PrestonSipes", "@PrincessCharland", "@RachelThibodaux", "@RayfordHilley", "@RebecaQuijada", "@RenatoTimko", "@RheaGrayson", "@RiaRiebel", "@RochelleSecrest", "@SachikoCorrell", "@SalvadorMaus", "@SantanaNally", "@SaundraRemick", "@ShadWilhoit", "@ShalaMash", "@ShantayLitteral", "@ShantellMcdermott", "@SharlaPeriera", "@SonnyCleary", "@SparkleSmither", "@StephaneMacmaster", "@TaishaPellett", "@TamikaRasmussen", "@TaniaJhonson", "@TannerVillareal", "@ToddForys", "@TomasaSolari", "@TommySchaeffer", "@VanesaArzu", "@VellaKam", "@VenusRao", "@VerlaFacio", "@VinceTavera", "@WilmerRosenquist", "@YesseniaCaperton", "@ZenaDanks", "@ZulmaHernandez"],
                    match: /([@|#][A-Za-z0-9_\-]+)$/,
                    search: function (term, callback) {
                        callback($.map(this.words, function (word) {

                            return word.toLowerCase().indexOf(term.toLowerCase()) === 0 ? word : null;
                        }));
                    },
                    index: 1,

                    replace: function (word) {
                        return word + ' ';
                    }
                }
            ], {
                onKeydown: function (e, commands) {
                    if (e.ctrlKey && e.keyCode === 74) { // CTRL-J
                        return commands.KEY_ENTER;
                    }
                }
            });
        });
    </script>
</div>